

*{
   margin: 0;
   padding: 0;
}
                        /* create new page starts */
.full_screen {
   width: 100%;
   height: 300px;
   background: rgba(0,0,0,0.7);
   padding: 100px 0;
   position: fixed;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   transition: 0.5s;
   
}

.img_area {
   width: 400px;
   min-height: 300px;
   background: #fff;
   padding: 15px;
   margin: auto;
}

.img_area img{
   width: 100%;
}
.img_area i{
  font-size: 26px;
  padding: 15px; 
}
.icon {
   text-align: right;
}
.d_block {
   opacity: 1;
   visibility: visible;
}

.btn_overflow_active {
   color: blue;
   margin-top: 200px;
   margin-left: 200px;
   padding: 15px;
   font-size: 20px;
   font-weight: bolder;
}
#my_span {
   color: rgb(170, 29, 135);
   font-size: 15px;
}
                  /* create new page ends */

                  /* slider starts */

#myImg {
   border: 2px solid red;
   border-radius: 5px;
}

#sec_2 {
   /* margin-top: 1000px;
   margin-left: 500px;
   margin-bottom: 200px; */
   position: fixed;
   top: 300px;
   left: 1010px;
  
}
                           /* slider ends */