

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Courier New', Courier, monospace;
}
                        /* create new page starts */
#sec_1 {
 background: #d1d8da;
 width: 100%;
 height: 300px;
}  

.full_screen {
   width: 100%;
   height: 300px;
   background: rgba(0,0,0,0.7);
   padding: 100px 0;
   position: fixed;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   transition: 0.5s;
   
}

.img_area {
   width: 400px;
   min-height: 300px;
   background: #fff;
   padding: 15px;
   margin: auto;
}

.img_area img{
   width: 100%;
}
.img_area i{
  font-size: 26px;
  padding: 15px; 
}
.icon {
   text-align: right;
}
.d_block {
   opacity: 1;
   visibility: visible;
}

.btn_overflow_active {
   color: blue;
   margin-top: 120px;
   margin-left: 200px;
   padding: 15px;
   font-size: 20px;
   font-weight: bolder;
}
#my_span {
   color: rgb(170, 29, 135);
   font-size: 15px;
}
                  /* create new page ends */

                  /* slider starts */

#myImg {
   border: 2px solid red;
   border-radius: 5px;
}

#sec_2 {
   /* margin-top: 1000px;
   margin-left: 500px;
   margin-bottom: 200px; */
   position: fixed;
   top: 300px;
   left: 1010px;
  
}

.div_2 {
   /* margin-top: 60px; */
   width: 100%;
   height: 500px;
}
                           /* slider ends */

                           * {

   margin: 0px;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

.container {
   background-color: #a5a2d7;
   width: 100%;
   height:100vh;
   display: flex;
   justify-content: center;
   align-items: center;

}

.btn {
   padding: 10px;
   margin-bottom: 60px;
   border:0;
   outline: none;
   cursor:pointer ;
   background: #fff;
   border-radius: 30px;
   font-size: 22px;
}

.popup {
   width: 400px;
   background: #fff;
   border-radius: 6px;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.1);
   text-align: center;
   padding: 0 30px 30px;
   color: #333;
   visibility: hidden;
   transition: transform 0.4s, top 0.4s;
}

.open_popup {
   visibility: visible;
   top: 80%;
   transform: translate(-50%, -50%) scale(1);
}

.popup img {
   width: 100px;
   margin-top: -50%;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0, 0 , 0, 0.2);
}

.popup h1 {
   font-size: 38px;
   margin: 30px 0 10px;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0 , 0, 0.2);
}

